.resume {
    margin: 20px 20px 20px 20px;
}

.heading {
    font-size: 23px;
    font-weight: 900;
}

.work-experiences,
.educations {
    margin: 50px 30px 0px 0px;
}

.position-company,
.degree-institution {
    margin: 30px 0px 0px 0px;
    display: flex;
    gap: 5px;
}

.position,
.degree {
    font-weight: 900;
    margin: 0px 0px 0px;
}

.company,
.institution {
    color: gray;
    margin: 0px 0px 0px;
}

.date,
.gpa {
    font-size: 15px;
    color: gray;
    margin: 5px 0px 0px 0px;
}

.description {
    max-width: 90%;
}

.description-points {
    line-height: 1.5;
}